.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 59%;
    width: 74%;
    z-index: 7;
    position: absolute;
    right: 0; 
	bottom: 0px;
  }
  
  .message-container {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    z-index: 7;
    
  }
  .message-container::-webkit-scrollbar { width: 0 !important }
  
  .message {
    background-color: #0b0b2f;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 40%;
    color: white;
  }
  
  .input-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .input {
    background-color: #76b1ec;
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    
  }
  
  .send-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 7;
    margin-right: 1vh;
   
  }
