.chat-container {
  display: flex;
  flex-direction: column;
  height: 95%;
  min-width: 59%;
  width: 74%;
  z-index: 7;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.message-container {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
  z-index: 7;
}
.message-container::-webkit-scrollbar {
  width: 0 !important;
}

.message {
  width: 90%;
}
.user-message {
  color: rgb(196 222 247);
  padding: 8px;
}
.bot-answer{
  white-space: pre-wrap;
  color: rgb(0,49,83);
  margin: 8px 0;
  padding: 8px;
  background-color: #c4def7;
  border: hidden;
  border-radius: 8px;
}

.input-container {
  display: flex;
  margin: 12px 0;
}

.input {
  background-color: #87bcf0;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.send-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 7;
  margin-right: 1vh;
}
