.edit-button {
    background-color: rgb(29, 20, 101);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .edit-button:hover {
    background-color: #0062cc;
  }
  
  .edit-button i {
    margin-right: 5px;
  }