form {
    display: absolute;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato', sans-serif;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  
  label {
    color:#ffffff;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }
  
  input,
  textarea {
    padding: 0.5rem;
    border: 1px solid #734beb;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
  }
  
  .submit {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #0077cc;
    color: #fff;
    font-size: 1rem;
    display:inline-block;
  }